@import url("https://use.typekit.net/jie3wzr.css");

:root {
	--main-bg-colour: #c0d4db;
	--second-bg-colour: #cad4db;
}

body {
	background: var(--main-bg-colour);
}
nav {
	font-family: anca, sans-serif;
	font-weight: 400;
	font-style: normal;
}
.navbar {
	padding: 1rem;
}

.navbar-brand {
	font-size: 2.5rem;
}

.nav-item {
	margin: 0 30px;
	font-size: 1.7rem;
}

.navbar-toggler {
	border: none;
	border-radius: none;
}

button:focus {
	border: none;
	border-radius: none;
	outline: none;
}

.feature-img {
	width: 40rem;
	height: 40rem;
}
