:root {
	--main-bg-colour: #c0d4db;
	--second-bg-colour: #cad4db;
	--main-font: report;
	--secondary-font: anca, sans-serif;
}

body {
	background: var(--main-bg-colour);
	font-family: ff-cocon-pro, sans-serif; /*temp font*/
	font-weight: 400;
	padding-bottom: 2rem;
}

nav {
	font-family: var(--secondary-font);
	font-weight: 400;
	font-style: normal;
}

h1 {
	padding: 2rem 0 1.5rem;
	font-size: 2.5rem;
}

.navbar-brand {
	font-size: 3.2rem;
}

.nav-item {
	margin: 0 30px;
	font-size: 1.7rem;
}

.navbar-toggler {
	border: none;
	border-radius: none;
}

button:focus {
	border: none;
	border-radius: none;
	outline: none;
}

.feature-img {
	width: 80%;
	height: 90%;
}

#home-feature {
	height: auto;
	margin-top: 0;
}

#home-feature-img {
	padding-left: 3rem;
}

.main-feature-text {
	padding-right: 4rem;
	line-height: 1.3;
	text-align: justify;
}

.statement-text {
	width: 50%;
}

p {
	padding: 0.5rem 0;
}

.gallery-img {
	width: 100%;
	height: auto;
}
